:root {
  --background-color: #eeeeee;
  --font-color: #000;
  --gray-light-1: #e9e6e6;
  --gray-light-2: #e3e3e3;
  --gray-light-3: #dfdfdf;
  --gray-light-4: #ebebeb;
  --gray-dark-1: #c4c4c4;
  --gray-dark-2: #acacac;
  --modal-background: #e0e0e0;
  --primary-color: #ff7536;
}
