.footer {
  background-color: var(--gray-light-2);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  width: 100%;
  bottom: -6rem;
  position: absolute;

  &__right {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;

    &--item {
      a {
        color: var(--font-color);
        text-decoration: underline !important;
      }
    }
  }
}
